# Assignment 1

In [ ]:
#Install Jupyter notebook and run the first program and share the screenshot of the output.
** Split this string:**
s = "Hi there priyesh!"
*into a list. *

In [5]:
s = "Hi there priyesh!"

In [6]:
s

'Hi there priyesh!'

In [7]:
s.split()

['Hi', 'there', 'priyesh!']

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included).

In [13]:
n=[]
for x in range(1500,2700):
    if (x%7==0) and (x%5!=0):
        n.append(str(x))
print (','.join(n))

1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688

In [ ]:
#Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [20]:
s1=input("Input your first name :")
s2=input("write your last name :")
print (s2 +' '+ s1)

Input your first name :Bhagyashri
write your last name :Rathod
Rathod Bhagyashri

In [ ]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [23]:
pi = 3.14
r = 6 
v=4/3 * pi * r**3
print('volume of a sphere is:',v)

volume of a sphere is: 904.3199999999999

# Task 2

In [ ]:
#Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [1]:
n = input("Enter the sequence :")
list=n.split(",")
print ("list:",list)

Enter the sequence :1,2,3,4,5
list: ['1', '2', '3', '4', '5']

In [ ]:
#Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
n=5
for i in range(n):
    print('*',end="")

*****

In [ ]:
#Write a Python program to reverse a word after accepting the input from the user.

In [3]:
s=input("Input the word:")
print(s[::-1])

Input the word:Bhagyashri
irhsaygahB

In [ ]:
#Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n and to secure to all
its citizens.

In [65]:
a="WE, THE PEOPLE OF INDIA,"
b="having solemnly resolved to constitute India into a SOVEREIGN, !"
c="SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"
d="and to secure to all its citizens"
print(a,"\n\t",b,"\n\t\t",c,"\n\t\t",d)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens